/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html {
    height: 100%;
    font-size: 100%;
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #ffffff;
    padding-bottom: 150px;
}

header {
    background-color: #ffffff;
    width: 100%;
    padding: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 35px;
}


/* Add a CSS class for the sticky header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease;
}

/* Desktop navigation styles */
.icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.icons .action {
    margin-left: 22px;
    text-decoration: none;
    color: #333;
}

span.material-symbols-outlined {
    font-size: 2rem;
} 

.category {
    margin-left: 15px;
}

.category ul li {
    margin-right: 5px;
}

.logo img {
    height: 30px;
}

.logo h1 {
    font-family: "Rancho", "Denk One", cursive, 'Roboto', sans-serif;
    font-size: 2.6rem;
    margin-left: 10px;
}

.desktop-navigation {
    padding: 10px;
}

.desktop-navigation ul {
    text-align: center;
}

.desktop-navigation ul li {
    margin-left: 5px;
}

.link-wrapper ul li {
    display: inline-block;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.link-wrapper ul li:hover {
   background-color: #c3c3c3;
   border-radius: 5px;
}

.nav-link {
    text-decoration: none;
    color: #333;
}

.nav-link.active {
    color: #ff5e5e;
}

/* Mobile navigation styles */
.menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.mobile-navigation.active {
    transform: translateX(0);
}

.mobile-navigation ul li {
    margin-bottom: 10px;
}

.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

/* Search form for mobile styles */
.search-form-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.search-form-mobile.active {
    display: flex;
}

.search-form-mobile form {
    width: 100%;
    background-color: #fff;
    margin-top: 55px;
    padding: 20px;
    text-align: center;
}

.search-form-mobile input[type="text"] {
    width: 60%;
    padding: 15px;
    margin-bottom: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.search-form-mobile button {
    width: 60%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3rem;
}

.close-search {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}


/*top cover image*/
.top-cover-image-wrapper {
    position: relative;
    width: 100%;
}

.top-cover-image-wrapper img {
    width: 100%;
    height: auto;
}

 .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Transparent black overlay */
    z-index: 1; /* Ensure overlay is on top of the image */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}

.image-overlay h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 130px;
}

.image-overlay p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 130px;
}

.shop-now-button {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: 12px 80px;
    background-color: #ff5e5e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 130px;
    font-weight: bold;
}

.shop-now-button:hover {
    background-color: #ff3c3c; /* Example hover background color */
}









        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
        }
        
        .product-card {
            width: calc(25% - 20px); /* Adjust the width and margin as needed */
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        
        .product-card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }









/* Footer styles */
footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #c3c3c3c3;
    color: #fff; 
    margin-bottom: 0;
    
}

.footer-content {
    width: 100%; 
    margin: 0 auto; 
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #c3c3c3c3;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer-section {
    flex: 1; /* Distribute sections evenly */
    margin: 20px;
    padding: 5px; 
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h2 {
    font-size: 1.4rem; 
    margin-bottom: 15px;
    color: #000000; 
}

.footer-section p { 
    margin-bottom: 10px; 
}

.social-icons {
    display: flex;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px; 
}

.social-icons a:last-child {
    margin-right: 0; 
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Helvetica Neue", Arial, sans-serif; 
}